.div{
    width: 100%;
    max-width: 736px;
    padding: 0px 16px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    margin: -30px auto 0;
}

@media (max-width:768px) {
    .div{
        padding: 0px 8px;
        box-sizing: border-box;
    }
}